* {box-sizing: border-box; }
* {font-family: "arial" }
html {
  margin: 0;
  padding: 0;
}
aside {
  float: right;
  clear: both;
  z-index: 10;
  width: 30%;
}
nav {
  margin: 0rem 0rem 0rem 0rem;
}
header {
  background-color: rgb(44, 154, 183);
  border: 0px;
  padding: 10px;
}
h1 {
  color: white;
  margin: 4rem 0rem 2rem 5rem;
  font-size: 40px;
}
h1 p {
  font-style: italic;
  font-size:15px
}
h2 {
  color: rgb(44, 154, 183);
}
.text {
  color: rgb(44, 154, 183);
}
.nav {
  list-style-type: none;
  overflow: hidden;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}
.header {
  color: white;
  margin: 0rem 0rem 2rem 5rem;
  font-style: italic;
  font-size:20px
}
.nav li {
  display: inline-block;
  content: "/";
}
.footer li {
  display: inline-block;
  content: "/";
}
li:before {
  content: "/";
}
.nav li a {
  display: inline;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  text-decoration: none;
}
.footer li a {
  display: inline;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
}
li:first-child:before {
  content: "";
  padding-right: 0;
  margin-left: 2rem;
}
* section {
  padding: 10px;
  margin: 0rem 2rem 0rem 2rem;
}
a {
  color: rgb(44, 154, 183);
}
footer {
  clear: right;
  padding: 100px;
  border: 0px;
  margin: 0rem 0rem 0rem 0rem;
  text-align: center;
  background-color: rgb(58, 58, 58);
  color: white;
}
.footer {
  list-style-type: none;
  overflow: hidden;
  padding: 40px;
}
.quote {
  color: rgb(44, 154, 183);
  font-size: 150%;
}
.clearfix::after {
    content:"";
    display: block;
    clear: both;
    height: 60px;
}
.clearfix {
  overflow: hidden;
}
